@Layout = null;

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pull-left">
                <a class="logo" href="/"><img class="img-responsive" src="~/Public/Client/img/phongtot_logo.png"></a>
            </div>
            <div class="pull-right">
                <div class="header-top-avatar"><img class="img-responsive" src="https://lh3.googleusercontent.com/-HuydszzylPk/AAAAAAAAAAI/AAAAAAAAAEQ/zXAyBypLSdQ/photo.jpg?sz=50"></div>
                <div class="header-top-user">
                    <div class="user-name">
                        <a href="/Authen/Profile">Luận Tạ Minh</a>
                    </div>
                    <div class="dropdown user-info">
                        <a href="javascript: void(0);" class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thông tin tài khoản <b class="caret"></b></a>
                        <ul class="dropdown-menu dropdown-menu-right menu-user-info" aria-labelledby="dropdownMenu1">
                            <li><a href="/Authen/Profile">Trang cá nhân</a></li>
                            <li><a href="/Authen/Logout">Đăng xuất</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="pull-right">
                <a class="btn btn-submit-room" href="/Authen/UploadPost">Đăng tin miễn phí</a>
            </div>
        </div>
    </div>
</div>
