@model IEnumerable<Model.EF.BaiViet>
@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12 sidebar-article-label">
        <div class="pull-left">
            <a href="#"><h3><span>bài viết</span> nổi bật</h3></a>
        </div>
        <div class="clearfix"></div>
        <hr />
    </div>
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-12 sidebar-article-new">
            <a href="/Post/Detail/@item.ma">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-responsive" src="~/Public/upload/post/@item.hinh_anh" alt="">
                    </div>
                    <div class="col-md-7 no-padding-left">
                        <div class="sidebar-article-title">
                            <h2>@item.tieu_de</h2>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>