
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<!-- Mirrored from phongtot.vn/phong-tro-nha-tro by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jan 2018 14:23:02 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0">
    <title>Tìm phòng trọ</title>
    <link rel="stylesheet" href="~/Public/Client/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Public/Client/css/fonts.css">
    <link rel="stylesheet" href="~/Public/Client/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Public/Client/css/component.css">
    <link rel="stylesheet" href="~/Public/Client/css/app.css">
    <link rel="stylesheet" href="~/Public/Client/css/jquery-gmaps-latlon-picker.css">
    <script src="~/Public/Client/js/jquery-1.11.3.min.js"></script>
    <script src="~/Public/Client/js/bootstrap.min.js"></script>
    <script src="~/Public/Client/js/multiple-select.js"></script>
    <script src="~/Public/Client/js/owl.carousel.min.js"></script>
    <script src="~/Public/Client/js/ion.rangeSlider.js"></script>
    <script src="~/Public/Client/js/jquery.maskMoney.js"></script>
    <!-- Load WysiBB JS and Theme -->
    <script src="~/Public/Client/js/wysibb/jquery.wysibb.min.js"></script>
    <link rel="stylesheet" href="~/Public/Client/js/wysibb/theme/default/wbbtheme.css" />
</head>
<body>
    <header id="header" class="header-top">
        
    </header>        <!-- End header top -->
<div class="clearfix"></div>
<div id="header_nav" class="header-nav">
    <nav class="navbar">
        <div class="container">
            <div class="row block-navbar">
                <div class="col-md-12" id="menu">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><span class="fa fa-home"></span></a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="#">Giới thiệu</a></li>
                            <li><a href="#">Liên hệ</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>


                <script>
                    $(document).ready(function () {
                        $('#menu').load('/Partial/Menu')
                    })
                </script>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</div>
<div class="clearfix"></div>
<!-- End menu -->
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                @RenderBody()
            </div>
        </div>
        <div class="col-md-3 sidebar">
            <div class="row">
                <div class="col-sm-6 col-md-12">
                    <div class="advance-search">
                        <div class="title">
                            <a id="submit_search" href="javascript:void(0);"><span class="fa fa-search"></span></a>Tìm kiếm nâng cao
                        </div>
                        <div class="shr"><hr></div>
                        <form class="form" id="search_form" action="#" method="GET">
                            <div class="form-group price">
                                <div class="price-title">Chọn khoảng giá</div>
                                <div class="range-slider">
                                    <input type="text" class="js-range-slider" value="" />
                                </div>
                                <div class="extra-controls">
                                    <div class="form-group input-price">
                                        <div class="price-from">
                                            <div class="input-group">
                                                <input name="price_from" type="text" maxlength="4" value="0" class="inp js-from form-control" />
                                                <span class="input-group-addon">Triệu</span>
                                            </div>
                                        </div>
                                        <span class="input-price-title">Đến</span>
                                        <div class="price-to">
                                            <div class="input-group">
                                                <input name="price_to" type="text" maxlength="4" value="50" class="inp js-to form-control" />
                                                <span class="input-group-addon">Triệu</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group submit">
                                <button type="submit" class="btn btn-slide-search"><span class="fa fa-search"></span>Tìm kiếm</button>
                            </div>
                            <script type="text/javascript">
                                var $range = $(".js-range-slider"),
                                    $from = $(".js-from"),
                                    $to = $(".js-to"),
                                    range,
                                    min = 0,
                                    max = 50,
                                    from,
                                    to;

                                var updateValues = function () {
                                    $from.prop("value", from);
                                    $to.prop("value", to);
                                };

                                $range.ionRangeSlider({
                                    type: "double",
                                    min: min,
                                    max: max,
                                    step: 0.5,
                                    prettify_enabled: false,
                                    from: $from.val(),
                                    to: $to.val(),
                                    grid: false,
                                    hide_min_max: true,
                                    hide_from_to: true,
                                    postfix: ' triệu đ',
                                    prefix: "$",
                                    keyboard: true,
                                    grid_num: 10,
                                    onChange: function (data) {
                                        from = data.from;
                                        to = data.to;

                                        updateValues();
                                    }
                                });

                                range = $range.data("ionRangeSlider");

                                var updateRange = function () {
                                    range.update({
                                        from: from,
                                        to: to
                                    });
                                };

                                $from.on("change", function () {
                                    from = +$(this).prop("value");
                                    if (from < min) {
                                        from = min;
                                    }
                                    if (from > to) {
                                        from = to;
                                    }

                                    updateValues();
                                    updateRange();
                                });

                                $to.on("change", function () {
                                    to = +$(this).prop("value");
                                    if (to > max) {
                                        to = max;
                                    }
                                    if (to < from) {
                                        to = from;
                                    }

                                    updateValues();
                                    updateRange();
                                });
                            </script>
                        </form>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="../ngoaingu.net/~/Public/Client/img/ads1.html" alt="">
                </div>
            </div>
            <div class="row">
                <div style="margin-bottom: 30px;" class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="../media.phongtot.vn/xc5tx4cj/ads-3-min.png" alt="">
                </div>
                <div class="col-sm-6 col-md-12 sidebar-ads">
                    <img class="img-responsive" src="../media.phongtot.vn/xc5tx4cj/ads-4-min.png" alt="">
                </div>
            </div>                    <div class="clearfix"></div>

            <div id="sideBarBottom">

            </div>
            <script>
                $('#sideBarBottom').load('/Partial/SideBarBottom');
            </script>
        </div>
    </div>
</div>
<!-- Start footer -->
<div id="footer"></div>
<script>
    $('#footer').load('/Partial/Footer');
    $('header').load('/Partial/HeaderTop');
</script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="~/Public/Client/js/jquery-gmaps-latlon-picker.js"></script>
<script src="../apis.google.com/js/platform.js" async defer></script>
<script src="~/Public/Client/js/app.js"></script>
</body>
<!-- Mirrored from phongtot.vn/phong-tro-nha-tro by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jan 2018 14:23:46 GMT -->
</html>
