
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}
<div class="col-md-12 room-main-content">
    <div class="pt-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="http://phongtot.vn">Trang chủ</a></li>
            <li class="active">Trang cá nhân</li>
        </ol>
    </div><div class="user_panel col-md-2 no-padding-vertical">
        <div class="user-avatar">
            <a href="#"><img class="img-responsive" src="https://lh3.googleusercontent.com/-HuydszzylPk/AAAAAAAAAAI/AAAAAAAAAEQ/zXAyBypLSdQ/photo.jpg?sz=50"></a>
        </div>
        <div class="user-panel-menu">
            <div class="user-panel-menu-item active"><a href="http://phongtot.vn/trang-ca-nhan">Tổng quan</a></div>
        </div>
    </div>
    <!-- End left menu -->
    <div class="user_panel col-md-10 user-panel-center-container">
        <div class="user-panel-info">
            <div class="user-panel-name"><a href="http://phongtot.vn/trang-ca-nhan">Luận Tạ Minh</a></div>
            <div class="user-panel-email"><a href="http://phongtot.vn/trang-ca-nhan">ngoalongtb001@gmail.com</a></div>
            <a class="btn btn-submit-room" href="http://phongtot.vn/dang-tin">Đăng tin miễn phí</a>
        </div><div class="user-panel-main-container">
            <!-- Nav tabs -->
            <div class="card">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Thông tin cá nhân</a></li>
                    <li role="presentation" class=""><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đổi mật khẩu</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <form class="user-panel-main-container-info" method="POST" action="http://phongtot.vn/trang-ca-nhan/cap-nhat" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="Fk6eDi2FacXjMTsGnRU82Dfp5J1OqcOpQfadwSl4">
                            <div class="user-panel-info-title">Ảnh đại diện</div>
                            <div class="user-avatar"><a href="http://phongtot.vn/trang-ca-nhan"><img class="img-responsive" src="https://lh3.googleusercontent.com/-HuydszzylPk/AAAAAAAAAAI/AAAAAAAAAEQ/zXAyBypLSdQ/photo.jpg?sz=50"></a></div>
                            <div class="user-panel-upload-avatar">
                                <input type="file" name="avatar" value="">
                                <span class="help-block"><div style="color:red;"></div>Kích thước ảnh tối đa 1MB.</span>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="hoten">Họ tên</label>
                                        <input type="text" class="form-control" name="fullname" value="" placeholder="Họ tên">
                                        <span class="help-block" style="color:red;"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="ngaysinh">Ngày sinh</label>
                                        <input type="text" class="form-control" name="birth" value="" placeholder="dd/mm/yyyy">
                                        <span class="help-block" style="color:red;"></span>
                                    </div>
                                    <div class="form-group">
                                        <label for="ngaysinh">Giới tính</label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" id="inlineRadio1" value="male"> Nam
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="gender" id="inlineRadio2" value="female"> Nữ
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Địa chỉ</label>
                                        <input type="text" class="form-control" name="address" value="" placeholder="Địa chỉ">
                                        <span class="help-block" style="color:red;"></span>
                                    </div>
                                    <div class="form-group">
                                        <label>Điện thoại liên hệ</label>
                                        <input type="text" class="form-control" name="phone" value="" placeholder="Phone">
                                        <span class="help-block" style="color:red;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <button type="submit" class="btn center-block">Submit</button>
                            </div>
                        </form>
                    </div>
                    <div role="tabpanel" class="tab-pane " id="profile">
                        <form class="user-panel-main-container-info" method="POST" action="http://phongtot.vn/trang-ca-nhan/thay-mat-khau" enctype="multipart/form-data">
                            <input type="hidden" name="_token" value="Fk6eDi2FacXjMTsGnRU82Dfp5J1OqcOpQfadwSl4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mật khẩu cũ</label>
                                <input type="password" class="form-control" name="oldpassword" placeholder="Mật khẩu cũ">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Mật khẩu mới</label>
                                <input type="password" class="form-control" name="password" placeholder="Mật khẩu mới">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Nhập lại mật khẩu</label>
                                <input type="password" class="form-control" name="repassword" placeholder="Nhập lại mật khẩu">
                                <span class="help-block" style="color:red;"></span>
                            </div>
                            <button type="submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

