
@{
    ViewBag.Title = "UploadPost";
    Layout = "~/Views/Shared/HomeMaster.cshtml";
}

<div class="col-md-12 room-main-content">
    <div class="pt-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="/">Trang chủ</a></li>
        </ol>
    </div><div class="room-list-category">
        <div class="pull-left">
            <a href="#"><h3><span>Trang chủ</span> <i class="fa fa-angle-right"></i></h3></a>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
    <form action="" method="post">
        <div id="step-3" class="col-md-10 no-padding-right submit-room-main-content" style="">
            <div class="list-type-title">
                <ul><li class="li-label">Nhập thông tin bài đăng</li></ul>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="control-label">Tiêu đề</div>
                        <div>
                            <input type="text" id="title" name="tieu_de" class="form-control" value="">
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="control-label">Giá</div>
                            <div class="input-group">
                                <input type="text" name="gia_ca" class="form-control money-input" data-thousands="," data-decimal="." data-precision="0">
                                <span class="input-group-addon">đ/tháng</span>
                            </div>
                            <span class="help-block"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div>
                            <div class="control-label">Diện tích</div>
                            <div class="input-group">
                                <input type="text" name="dien_tich" value="" class="form-control" placeholder="nhập số, viết liền">
                                <span class="input-group-addon">M<sup>2</sup></span>
                                <span class="help-block"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="control-label">Chi tiết</div>
                                <div>
                                    <textarea class="form-control" name="noi_dung" style="resize: none"></textarea>
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="control-label">Địa chỉ cụ thể</div>
                                <div>
                                    <input type="text" name="dia_chi" class="form-control address_input" value="">
                                    <span class="help-block"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 submit-btn-room">
                    <button id="submit_form" class="btn btn-send-room" href="javascript:void(0);"><span class="fa fa-send"></span>Đăng tin</button>
                </div>
            </div>
        </div>
    </form>
</div>